<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Online Quick Quote Form</h1>
            <p>To get started with your vehicle transport, please fill out the form below. 
            If at any time you have any questions or run into any trouble please call our 
            Sales office, toll free, at 1-208-350-8590.</p>
    </div>
</div>

<%= render 'form' %>


