<!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-page light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
          <!-- Section Title -->
          <div class="section-title no-margin-b">
            <h2>price plans</h2>
            <p class="width-50pc hidden-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->
      
      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg bshadow-top">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>get a quote</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- Section Title -->
          
          <!-- Form Panel -->
            <%= render "form" %>

          
          <!-- /Form Panel -->
          
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block