<!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-page light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
          <!-- Section Title -->
          <div class="section-title no-margin-b">
            <h2>quick quote</h2>
            <p class="width-50pc hidden-xs">To get started with your vehicle transport, please fill out the form below. If at any time you have any questions or run into any trouble please call our Sales office, toll free, at <strong>1-208-350-8590</strong>.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->
      
      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg bshadow-top">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <!--<div class="section-title">-->
          <!--  <h2>get a quote</h2>-->
          <!--  <p>We are experts in both desktop and mobile design.</p>-->
          <!--</div>-->
          <!-- Section Title -->
          
          <!-- Form Panel -->
            <%= render "form" %>

          
          <!-- /Form Panel -->
          
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block