<!-- Intro Block
============================================ -->
<div class="intro-block intro-page light-bg">

  <!-- Container -->
  <div class="container cont-main">
    <!-- Section Title -->
    <div class="section-title no-margin-b">
      <h2>about us</h2>
      <p class="width-80pc hidden-xs">GT Auto Transport is a leader in the vehicle transport industry. We have over 1,000 carriers that are licensed, and most importantly insured to serve our customers needs. We specialize in arranging the vehicle transport fast and safe across the United States. GT Auto Transport has provided dependable vehicle transportation for individuals, dealers, and the military. The value that we offer to each individual is personalized attention. Our focus is on the level of service we deliver our customers personally.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</div>
<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================ -->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-main">
    
    <!-- Row -->
    <div class="row">
        
      <!-- Column -->
      <div class="col-sm-6 col-md-6">
            
        <div class="section-title no-margin-b">
          <h2>mission statement</h2>
          <p class="width-80pc hidden-xs">We provide the highest standard of carriers that are honest, reliable, licensed, and insured! Whether you’re a dealer or individual we work to provide you with the most satisfying transport services. No matter if, it’s across the state or coast to coast. With GT Auto Transport you will find a level of customer service that exceeds the industry standards. At GT Auto Transport we understand that price is a major factor, here we will work to get you the lowest price with best service. We provide door-to-door service and many discounts such as military, senior citizens, multi-car, and return customer. GT Auto Transport can help arrange your automobile transportation with safe and reliable service! Use the link (Quick Quote) or contact us to request a free quote today.</p>
        </div>
            
      </div>
      <!-- /Column -->
          
      <!-- Column -->
      <div class="col-sm-6 col-md-6 vspace-xs">
        <h6 class="case-u lts-sm">Award winning service delivery</h6>
        <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
       <!-- Nested Row -->
        <div class="row">
        
          <!-- Column -->
          <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- vlinks -->
            <ul class="vlinks vlinks-iconed vlinks-md">
              <li><i class="icon fa fa-trophy"></i><a class="title" href="#">Quality Award</a><span class="meta">1st Oct 2012</span></li>
              <li><i class="icon fa fa-bookmark"></i><a class="title" href="#">ISO Certification</a><span class="meta">25 FEB 2013</span></li>
            </ul>
            <!-- /vlinks -->
          </div>
          <!-- /Column -->
          
          <!-- Column -->
          <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- vlinks -->
            <ul class="vlinks vlinks-iconed vlinks-md">
              <li><i class="icon fa fa-cc"></i><a class="title" href="#">Company Recognition</a><span class="meta">4 NOV 2013</span></li>
              <li><i class="icon fa fa-globe"></i><a class="title" href="#">Weby Awards</a><span class="meta">20 MAR 2014</span></li>
            </ul>
            <!-- /vlinks -->
          </div>
          <!-- /Column -->
          
        </div>
        <!-- /Nested Row -->
            
      </div>
      <!-- /Column -->

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
</section>
<!-- /Content Block
============================================-->

 <!-- Content Block
================================================== -->
<section class="content-block light-bg">

  <!-- Overlay -->
  <div class="overlay tint">
  
    <!-- Container -->
    <div class="container cont-main">

      <!-- Row -->
      <div class="row">
      
        <!-- Column -->
        <div class="col-sm-6 col-md-6 mgb-30-xs">
        
          <h6 class="no-margin-t case-u lts-sm">Exceptional Company</h6>
          <p class="dcap dcap-pcolor">Betta, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
          <a class="more-link color-1" href="#">read more <i class="fa fa-arrow-right"></i></a>
        
        </div>
        <!-- Column /END-->
          
        <!-- Column -->
        <div class="col-sm-6 col-md-6">
        
          <h6 class="no-margin-t case-u lts-sm">Our Skills</h6>
          <!-- Skill Bar -->
          <div class="skill-bar">
           
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="skill"><i class="icon fa fa-globe"></i>Web Development <i class="val">80%</i></span>
              </div>
            </div>
            
          </div>
          <!-- /Skill Bar -->
          <!-- Skill Bar -->
          <div class="skill-bar">
           
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="skill"><i class="icon fa fa-desktop"></i>Desktop Programs<i class="val">90%</i></span>
              </div>
            </div>
            
          </div>
          <!-- /Skill Bar -->
          
          <!-- Skill Bar -->
          <div class="skill-bar">
           
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="skill"><i class="icon fa fa-phone"></i>Mobile Apps<i class="val">70%</i></span>
              </div>
            </div>
            
          </div>
          <!-- /Skill Bar -->
          
          <!-- Skill Bar -->
          <div class="skill-bar">
           
            <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="skill"><i class="icon fa fa-pencil"></i>Graphic Design<i class="val">65%</i></span>
            </div>
            </div>
            
          </div>
          <!-- /Skill Bar -->

        </div>
        <!-- Column /END-->	
            
      </div>
      <!-- /Row-->

    </div>
    <!-- /Container -->
  </div>
  <!-- /Overlay -->
  
</section>
<!-- /Content Block
================================================== -->

<!-- Content Block
============================================-->
<section class="content-block default-bg bshadow-top">

  <!-- Container -->
  <div class="container cont-main">
  
    <!-- Section Title -->
    <div class="section-title">
      <h2>testimonials</h2>
      <p>We are experts in both desktop and mobile design.</p>
    </div>
    <!-- Section Title -->
    
    <!-- Slider Wrapper -->
    <div class="bx-controls-dark bx-controls-below bx-controls-box">
    
      <!-- BxSlider -->
      <div class="bxslider" data-call="bxslider" data-options="pager:false, slideMargin: 30" data-breaks="[{screen:0, slides:1}, {screen:768, slides:2}]">
        
        <!-- Slide -->
        <div class="slide">
          <!-- hquote -->
          <div class="hquote">
            <blockquote>
              <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
              <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
            </blockquote>
          </div>
          <!-- /hquote -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="slide">
          <!-- hquote -->
          <div class="hquote hquote-right">
            <blockquote>
              <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
              <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
            </blockquote>
          </div>
          <!-- /hquote -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="slide">
          <!-- hquote -->
          <div class="hquote">
            <blockquote>
              <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
              <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
            </blockquote>
          </div>
          <!-- /hquote -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="slide">
          <!-- hquote -->
          <div class="hquote hquote-right">
            <blockquote>
              <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
              <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
            </blockquote>
          </div>
          <!-- /hquote -->
        </div>
        <!-- /Slide -->
        
      </div>
      <!-- /BxSlider -->
        
    </div>
    <!-- /testimonial Slider -->
  
  </div>
  <!-- /Container -->
</section>
<!-- /Content Block
============================================-->