<!-- Intro Block
============================================ -->
<div class="intro-block intro-page light-bg">

  <!-- Container -->
  <div class="container cont-main">
    <!-- Section Title -->
    <div class="section-title no-margin-b">
      <h2>about us</h2>
      <p class="width-80pc hidden-xs">GT Auto Transport is a leader in the vehicle 
      transport industry. We have over 1,000 carriers that are licensed, and most 
      importantly insured to serve our customers needs. We specialize in arranging 
      the vehicle transport fast and safe across the United States. GT Auto Transport
      has provided dependable vehicle transportation for individuals, dealers, and 
      the military. The value that we offer to each individual is personalized attention.
      Our focus is on the level of service we deliver our customers personally.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</div>
<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================ -->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-main">
    
    <!-- Row -->
    <div class="row">
        
      <!-- Column -->
      <div class="col-sm-12 col-md-12">
            
        <div class="section-title no-margin-b">
          <h2>mission statement</h2>
          <p class="width-80pc hidden-xs">We provide the highest standard of
          carriers that are honest, reliable, licensed, and insured! Whether 
          you’re a dealer or individual we work to provide you with the most 
          satisfying transport services. No matter if, it’s across the state or 
          coast to coast. With GT Auto Transport you will find a level of customer 
          service that exceeds the industry standards. At GT Auto Transport we 
          understand that price is a major factor, here we will work to get you 
          the lowest price with best service. We provide door-to-door service and 
          many discounts such as military, senior citizens, multi-car, and return
          customer. GT Auto Transport can help arrange your automobile transportation 
          with safe and reliable service! Use the link (<%= link_to "Quick Quote", new_quote_path %>) or contact us
          to request a free quote today.</p>
        </div>
            
      </div>
      <!-- /Column -->
          

    </div>
    <!-- /Row -->
    <br>
    <br>
    <!-- Row -->
    <div class="row">
        
      <!-- Column -->
      <div class="col-sm-12 col-md-12">
            
        <div class="section-title no-margin-b">
          <h2>privacy policy</h2>
          <p class="width-80pc hidden-xs">This privacy policy is applied to GT 
          Auto Transport only. We take pride in the level of security applied to 
          every user when they submit their information to our site. Any information
          we obtain via e-mail, quotes, orders, and over the phone is exclusively 
          use by GT Auto Transport. This information will not be shared or sold.</p>
        </div>
            
      </div>
      <!-- /Column -->

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
</section>
<!-- /Content Block
============================================-->



