<!-- Intro Block
============================================ -->
<div class="intro-block intro-page light-bg">

<!-- Container -->
<div class="container cont-main">
  <!-- Section Title -->
  <div class="section-title no-margin-b">
    <h2>contact</h2>
    <p class="width-50pc hidden-xs">Our sales office hours are 7:30-6 PST Monday-Friday, 
    our status dept is open 1-6 PST Monday-Friday. We are available for vehicle 
    shipments only. Unfortunately we do not ship household goods but we can refer you.</p>
  </div>
  <!-- /Section Title -->
</div>
<!-- /Container -->

</div>
<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================-->
<section class="content-block default-bg">
<!-- Container -->
<div class="container cont-main">

  <!-- Row -->
  <div class="row">

    <!-- Main Col -->
    <div id="main-col" class="col-sm-8 col-md-8 mgb-30-xs">

    </div>
    <!-- /Main Col -->
    
    <!-- Side Col -->
    <div class="col-sm-8 col-md-8">

      <!-- Side Widget -->
      <div class="side-widget">
      
        <h5 class="widget-title">Our location</h5>
        
        <!-- fader -->
        <div class="fader mgb-20">
          <img src="images/map.jpg" alt="">
          <!-- hidden -->
          <div class="fader-hidden pcolor-bg white">
            <!-- stuff to be revealed here ! -->
            <div class="vcenter align-center">
              <div class="vcenter-this">
                <a href="#" data-toggle="modal" data-target="#map-modal"><span class="white">VIEW MAP</span></a>
              </div>
            </div>
            <!-- /stuff to be revealed here ! -->
          </div>
          <!-- /hidden-->
        </div>
        <!-- /fader -->
        
        <!-- vlinks -->
        <ul class="vlinks vlinks-iconed vlinks-ruled-dots">
          <li><i class="icon fa fa-home"></i>GT Auto Transport, Inc.<br/>19418 Hodson Creek Ave<br/>Caldwell, ID 83605</li>
          <li class="centered"><i class="icon fa fa-laptop"></i>sales@gtautotransport.com<br/> info@gtautotransport.com<br/>status@gtautotransport.com</li>
          <li><i class="icon fa fa-user"></i>208-350-8590<br/> MC# 561468</li>
        </ul>
        <!-- /vlinks -->
        
      </div>
      <!-- /Side Widget -->
      
    </div>
    <!-- /Side Col -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->
</section>
<!-- /Content Block
============================================-->

<!-- Map Modal -->
<div id="map-modal" class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- Modal Dialog -->
<div class="modal-dialog">

<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Our Map Location</h4>
  </div>
  
  <div class="modal-body">
    <iframe style="width:100%; height: 350px" id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Facebook+Inc.,+Earlham+Street,+London,+United+Kingdom&amp;aq=4&amp;oq=facebook&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,56.513672&amp;ie=UTF8&amp;hq=Facebook+Inc.,+Earlham+Street,&amp;hnear=London,+United+Kingdom&amp;t=m&amp;cid=7509567643069030052&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <script type="text/javascript">
      // Delay loading iframe for better performance
      var iframe = document.getElementById('gmap');
      var src = iframe.src;
      iframe.src = '';
      window.onload =  function(){ iframe.src = src; }
    </script>
  </div>
</div>

</div>
<!-- /Modal Dialog -->
</div>
<!-- /Map Modal -->