<!-- Intro Block
============================================ -->
<div class="intro-block intro-page light-bg">

<!-- Container -->
<div class="container cont-main">
  <!-- Section Title -->
  <div class="section-title no-margin-b">
    <h2>get in touch</h2>
    <p class="width-50pc">Our sales office hours are 7-7 MST, 7 days a week for 
    both sales and delivery status inquiries. We are available for vehicle 
    shipments only.</p>
  </div>
  <!-- /Section Title -->
</div>
<!-- /Container -->

</div>
<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================-->
<section class="content-block default-bg">
<!-- Container -->
<div class="container cont-main">

  <!-- Row -->
  <div class="row">

    <!-- Main Col -->
    <div id="main-col" class="col-sm-8 col-md-8 mgb-30-xs">

    </div>
    <!-- /Main Col -->
    
    <!-- Side Col -->
    <div class="col-sm-8 col-md-8">

      <!-- Side Widget -->
      <div class="side-widget">
      
        <h5 class="widget-title">Our location</h5>
        
        <!-- fader -->
        <div class="mgb-20 embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.482448782982!2d-116.66259168455002!3d43.638129861423124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54ae495a2fb929cb%3A0x1d662094aeb3dca!2sGT+Auto+Transport!5e0!3m2!1sen!2sus!4v1464752068697" width="700" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- /fader -->
        
        <!-- vlinks -->
        <ul class="vlinks vlinks-iconed vlinks-ruled-dots">
          <li><i class="icon fa fa-home"></i>GT Auto Transport, Inc.<br/>3102 Village Green St<br/>Caldwell, ID 83605</li>
          <li class="centered"><i class="icon fa fa-laptop"></i><%= mail_to "sales@gtautotransport.com", "sales@gtautotransport.com", subject: "Sales inquiry" %>
          <br/> <%= mail_to "info@gtautotransport.com", "info@gtautotransport.com", subject: "Information request" %>
          <br/><%= mail_to "status@gtautotransport.com", "status@gtautotransport.com", subject: "Status inquiry" %></li>
          <li><i class="icon fa fa-user"></i>208-350-8590 / 7 DAYS A WEEK, 7-7(MST)<br/> MC# 561468</li>
        </ul>
        <!-- /vlinks -->
        
      </div>
      <!-- /Side Widget -->
      
    </div>
    <!-- /Side Col -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->
</section>
<!-- /Content Block
============================================-->

<!-- Map Modal -->
<div id="map-modal" class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- Modal Dialog -->
<div class="modal-dialog">

<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Our Map Location</h4>
  </div>
  
  <div class="modal-body">
    <iframe style="width:100%; height: 350px" id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Facebook+Inc.,+Earlham+Street,+London,+United+Kingdom&amp;aq=4&amp;oq=facebook&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,56.513672&amp;ie=UTF8&amp;hq=Facebook+Inc.,+Earlham+Street,&amp;hnear=London,+United+Kingdom&amp;t=m&amp;cid=7509567643069030052&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <script type="text/javascript">
      // Delay loading iframe for better performance
      var iframe = document.getElementById('gmap');
      var src = iframe.src;
      iframe.src = '';
      window.onload =  function(){ iframe.src = src; }
    </script>
  </div>
</div>

</div>
<!-- /Modal Dialog -->
</div>
<!-- /Map Modal -->