<!-- Intro Block
============================================ -->
<div class="intro-block intro-page light-bg">

  <!-- Container -->
  <div class="container cont-main">
    <!-- Section Title -->
    <div class="section-title no-margin-b">
      <h2>frequently asked questions</h2>
      <p class="width-80pc hidden-xs">Do you have questions about the service we provide? Below are 
      some answers to the most common questions we're asked.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</div>
<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-main">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="col-sm-10 col-md-10 col-md-offset-1 mgb-30-xs">
      
        <h4>FAQs</h4>

        <!-- Accordion -->
        <div class="panel-group" id="accordion">
        
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                How long will it take to have my car picked up?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                On average, for a standard shipment, it will typically take 24
                to 72 hours from the time your booking has been received to schedule
                a time for pick up. Expedited services are available for rush shipments and time sensitive transports.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Will my vehicle be insured during transport?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Your vehicle will be insured against in-transit damage caused by 
                carrier negligence or equipment failure by the specific driver's 
                insurance. Naturally occurring disasters such as hail, floods,
                hurricanes, avalanches, etc.,  along with road debris that can 
                cause minor damage to windshields, paint, and undercarriages are
                not covered. The carriers assigned to haul your vehicle will 
                always either be over-insured or adequately insured, as we also
                haul luxury vehicles such as Rolls Royces, Bentleys, and Maseratis.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                How long will it take for my vehicle to be delivered?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Delivery is based on many various aspects such when your vehicle 
                has been picked up, whether your vehicle was the first or last 
                vehicle loaded on the auto carrier, the distance your vehicle is 
                travelling, etc. You may either call or text to request an update
                on your transport status at (208)350-8590 or request an update directly on our website.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                May I put belongings in my vehicle?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                We recommend against this as the Federal and State Department of 
                Transportation regulations prohibit the transport of household
                items in vehicles being transported by auto carriers. These items 
                are also not covered by the carrier's insurance. Any damage to your
                vehicle due to household goods shifting or breaking is also not 
                covered. Personal belongings left in the vehicle are shipped strictly 
                at the owner's risk. Carriers will not inventory any belongings 
                left in the vehicle and will assume <strong>no responsibility</strong>. Items packed
                in the vehicle will also add weight that may cause damage to your 
                vehicle. If you still feel the need to put personal items in your 
                vehicle, not household items, you must limit them to less than 75 
                lbs. and must be confined to the trunk or rear of the vehicle 
                (under the window level). <span class="faqs">Under no circumstances can the car 
                contain firearms, hazardous materials, illegal substances, or contraband.</span>
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                Can I track my shipment?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                Yes. Online tracking is available to you 24 hours a day or you
                can call during business hours for an update. Upon scheduling your 
                shipment, you will receive a unique booking number that will allow
                you to track the status of your shipment online, by text message, or by phone.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                How far in advance should I schedule my shipment?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                The farther in advance you schedule your shipment, the more time
                our team has to secure your transport. We prefer at least 1-2 
                weeks in advance, if possible. However,  if you need a FAST 
                transport, we do offer that service as well.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                How do I pay for my auto shipping?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                We accept Visa, Mastercard, American Express, Discover, and PayPal
                for the deposit portion of your transport. The balance due will 
                need to be paid directly to the driver at pickup OR delivery in 
                the form of cash, cashier's check, or United States Post Office money order.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                Can my vehicle be shipped if it's inoperable?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                Yes, you must notify us at the time the order is placed. The fee 
                for this type of transport varies based on the state of the vehicle 
                and the distance it is travelling, but the average winching fee 
                for inoperable vehicles is $150 and that will be added to the transport cost.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                What types of transport trailers do you offer?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                We offer open and enclosed transports, and have included a brief
                description of each below. An <strong>open carrier</strong> is the most commonly 
                chosen type of transport our customers choose. This is the type 
                of trailer that the dealerships and auctions use to transport cars.
                This is also the most common & least expensive type of transport
                people use. Most of our drivers will be two levels tall and fit 
                between 7-10 cars. Occasionally we will utilize smaller carriers,
                if need be. An <strong>enclosed carrier</strong> is a fully enclosed trailer which
                can hold 2-8 cars and they typically haul exotic cars, luxury 
                vehicles, and classic cars. The cost is roughly 70%-90% more, 
                but your vehicle will be more protected from the elements of
                road travel. Many enclosed trailers have lift gates which is an 
                ideal way to load/unload low profile vehicles.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                What should I do if I notice damage at the time of delivery?
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                The customer and his/her agents agree to fully inspect the vehicle
                at delivery, and note any and all damages on the carrier's Bill
                of Lading/Condition Report that both you and the driver must sign
                BEFORE the driver leaves. Any claims for damages not noted on the 
                Condition Report will not be honored! Please make sure you inspect
                your vehicle completely at pick up and delivery Please note any
                pre-existing damages. GT Auto Transport LLC will not be responsible
                for any damages. This means that any and all claims for damage 
                must be made directly through the carrier that transports your vehicle.
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->

        </div>
        <!-- /Accordion -->
      </div>
      <!-- /Main Col -->
    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
</section>
<!-- /Content Block
============================================-->