

      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-slider-block light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-xs-10 col-sm-10 col-md-9">
            
              <!-- Intro Slider Wrapper -->
              <div class="intro-slider">
              
                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{controls:false, pagerCustom: '#intro-pager'}">
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">We ship cars, trucks, boats &amp motorcycles</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">In every aspect of our service, we strive to deliver the highest level of service to our customers!</p>
                      <%= link_to "learn more", about_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/gtauto/carYellowNew.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">quick quote form</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">To get started with your vehicle transport, please fill out the quote form. If at any time you have questions or run into trouble please call our Sales office, toll free, at 1-208-350-8590.</p>
                      <%= link_to "get a free quote", new_quote_path, class: "btn btn-primary no-border btn-bigger bx-layer", :data => { :anim => 'slideInUp', :dur => '1000', :delay => '600' }  %>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/gtauto/f150.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">portable</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">reusable blocks</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/gtauto/harley.png" alt="" />
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">purchase once</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">free updates</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                </div>
                <!-- /BxSlider -->
                
              </div>
              <!-- Intro Slider -->
              
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-xs-2 col-sm-2 col-md-3">
              <div class="pager-block vcenter">
                <div class="vcenter-this">
                  <!-- Pager -->
                  <div id="intro-pager" class="tab-pager">
                    <a data-slide-index="0" href="#"><i class="icon fa  fa-arrow-right"></i><span>About Us</span></a>
                    <a data-slide-index="1" href="#"><i class="icon fa fa-arrow-right"></i><span>Online Quote Form</span></a>
                    <a data-slide-index="2" href="#"><i class="icon fa fa-arrow-right"></i><span>online order form</span></a>
                    <a data-slide-index="3" href="#"><i class="icon fa fa-arrow-right"></i><span>tracking</span></a>
                  </div>
                  <!-- /Pager -->
                </div>
              </div>
            </div>
            <!-- /Col -->
            
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->

      <!-- Content Block
      ============================================ -->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">

          
          <!-- Section Title -->
          <div class="section-title">
            <h2>Door-to-Door Service | Open and Enclosed Transport | Competitive Rates</h2>
            <p><strong>GT Auto Transport</strong>, Inc offers the highest standard of carriers that are honest, 
            reliable, licensed, and insured! Whether you’re a dealer or individual we work to 
            provide you with the most satisfying auto transportation services. No matter if, it’s 
            across the state or coast to coast. With GT Auto Transport, Inc you will find a level of
            customer service that exceeds the industry standards. At GT Auto Transport, Inc we 
            understand that price is a major factor, here we will work to get you the lowest price
            with best service. We provide door-to-door service and many discounts such as military,
            senior citizens, multi-car, and return customer. GT Auto Transport, Inc can help arrange 
            your car shipping with safe and reliable auto shipper service! Use the link (Quick Quote)
            or contact us to request a free quote today from local auto transportation companies.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-desktop" ></i>
                <a class="title">First Feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-camera"></i>
                <a class="title">second feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-printer"></i>
                <a class="title">third feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-comments"></i>
                <a class="title">fourth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-cup"></i>
                <a class="title">fifth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-truck"></i>
                <a class="title">sixth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      

