

      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-slider-block light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-xs-10 col-sm-10 col-md-9">
            
              <!-- Intro Slider Wrapper -->
              <div class="intro-slider">
              
                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{controls:false, pagerCustom: '#intro-pager'}">
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">multipurpose</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">modular design</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">responsive</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">bootstrap base</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">portable</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">reusable blocks</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/screen-4.png" alt="" />
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">purchase once</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">free updates</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="assets/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                </div>
                <!-- /BxSlider -->
                
              </div>
              <!-- Intro Slider -->
              
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-xs-2 col-sm-2 col-md-3">
              <div class="pager-block vcenter">
                <div class="vcenter-this">
                  <!-- Pager -->
                  <div id="intro-pager" class="tab-pager">
                    <a data-slide-index="0" href="#"><i class="icon fa  fa-apple"></i><span>Multipurpose Theme</span></a>
                    <a data-slide-index="1" href="#"><i class="icon fa fa-folder"></i><span>Fully Responsive</span></a>
                    <a data-slide-index="2" href="#"><i class="icon fa fa-rocket"></i><span>portable uikit</span></a>
                    <a data-slide-index="3" href="#"><i class="icon fa fa-desktop"></i><span>free updates</span></a>
                  </div>
                  <!-- /Pager -->
                </div>
              </div>
            </div>
            <!-- /Col -->
            
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->

      <!-- Content Block
      ============================================ -->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">

          
          <!-- Section Title -->
          <div class="section-title">
            <h2>Our services</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-desktop" ></i>
                <a class="title">First Feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-camera"></i>
                <a class="title">second feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-printer"></i>
                <a class="title">third feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-comments"></i>
                <a class="title">fourth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-cup"></i>
                <a class="title">fifth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-truck"></i>
                <a class="title">sixth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      
      <!-- Tab Slider
      ================================================== -->
      <section id="work" class="content-block tab-slider tab-layout bcolor-bg">
      
        <!-- Container (for alignment)-->
        <div class="container page-align nav-cont">
          <!-- Nav Block -->
          <nav class="nav-panel">
            <div class="vcenter">

              <div class="vcenter-this">
              <!-- Tab Pager -->
                <div id="projects-pager" class="img-links clearfix">
                  <a data-slide-index="0" href="#"><div class="wrapper"><span><i class="icon">1</i></span><img src="assets/portfolio/pic1.jpg" alt="pic"/></div></a>
                  <a data-slide-index="1" href="#"><div class="wrapper"><span><i class="icon">2</i></span><img src="assets/portfolio/pic2.jpg" alt="pic"/></div></a>
                  <a data-slide-index="2" href="#"><div class="wrapper"><span><i class="icon">3</i></span><img src="assets/portfolio/pic3.jpg" alt="pic"/></div></a>
                  <a data-slide-index="3" href="#"><div class="wrapper"><span><i class="icon">4</i></span><img src="assets/portfolio/pic4.jpg" alt="pic"/></div></a>
                  <a data-slide-index="4" href="#"><div class="wrapper"><span><i class="icon">5</i></span><img src="assets/portfolio/pic5.jpg" alt="pic"/></div></a>
                  <a data-slide-index="5" href="#"><div class="wrapper"><span><i class="icon">6</i></span><img src="assets/portfolio/pic6.jpg" alt="pic"/></div></a>
                </div>
                <!-- /Tab Pager -->
                </div>
            </div>

          </nav>
          <!-- /Nav Block -->

          
        </div>
        <!-- /Container -->
        
        <div class="bx-controls-box bx-controls-bottom-right">
        <!-- BxSlider -->
        <div class="bxslider" data-call="bxslider" data-bxid="projectsSlider" data-options="{pagerCustom:'#projects-pager', controls:false}" data-breaks="[{screen:0, mode:'horizontal', controls:true}, {screen:992, mode: 'vertical'}]">
          <!-- Tab 1-->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic1.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-apple"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>First Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-primary hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 1 -->
          
          <!-- Tab 2 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic2.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-music-alt"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Second Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 2 -->
          
          <!-- Tab 3 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic3.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-tablet"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Third Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 3 -->
          
          <!-- Tab 4 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic4.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-stats-up"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Fourth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 4 -->
          
          <!-- Tab 5 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic5.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-paint-bucket"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Fifth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 5 -->
          
          <!-- Tab 6 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="assets/portfolio/pic6.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-heart"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Sixth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 6 -->
        </div>
        <!-- /BxSlider -->
        </div>
        
      </section>
      <!-- /Tab Slider
      ================================================== -->
      
      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>testimonials</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="bx-controls-dark bx-controls-below bx-controls-box">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="pager:false, slideMargin: 30" data-breaks="[{screen:0, slides:1}, {screen:768, slides:2}]">
              
              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="assets/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="assets/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="assets/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->
              
            </div>
            <!-- /BxSlider -->
              
          </div>
          <!-- /Slider Wrapper -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->