<!-- Intro Block
============================================ -->

<!-- /Intro Block
============================================ -->

<!-- Content Block
============================================ -->
<section class="intro-block-terms termsBackground">

  <!-- Container -->
  <div class="container cont-main">
    
    <!-- Row -->
    <div class="row">
        
      <!-- Column -->
      <div class="col-sm-12 col-md-12 col-xs-12  ">
       <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title text-center">TERMS AND CONDITIONS</h3>
        </div>
        <div class="panel-body-terms">
          <p>1. GT Auto Transport (GTA) agrees to offer the customer’s automobile 
          to a DOT authorized, licensed, fully insured automobile transporter and 
          to act as the link between the customer and the transporter before and 
          during transport. GTA the Broker is licensed by the Interstate Commerce Commission.</p>
          
          <p>2. On Hawaii and Alaska shipments <span class="termsConditions">ONLY</span>; GTA requires payment be made
          in full by cashier's check. All shipments <span class="termsConditions">NOT INVOLVING ALASKA OR HAWAII</span>
          require a Security Deposit that we charge to the credit card provided, 
          unless otherwise stated above in the order confirmation.  All Hawaii and
          Alaska Security Deposits are non-refundable.</p>
          
          <p>3. The customer shall provide alternate contacts in case of delay
          for whatever reason at either pickup or delivery. The customer shall 
          designate a person to act as their agent at the point of pickup and/or
          delivery if for any reason they are unavailable. GTA will not be 
          responsible for tow charges, yard charges, or re-delivery charges 
          incurred due to customer's inability to provide alternate contacts.</p>
          
          <p>
            4. While every effort will be made, pickup and delivery dates are 
            only estimates and there is no guarantee. GTA cannot guarantee any 
            specific pickup or delivery dates due to scheduling, other customer 
            delays, engine problems, road conditions, Mother Nature, medical 
            issues, etc. After scheduling has been confirmed with an authorized 
            carrier/transporter the contact person at the origin will be notified
            via a telephone message or email message by GTA in advance. At this
            point GTA has fulfilled our service agreement. However, we will 
            follow through with any questions, concerns or issues you have during the transport of your vehicle.
          </p>
          
          <p>
            5. The customer agrees to make full disclosure to GTA regarding operational
            status of the vehicle prior to finalizing this agreement. If the customer’s 
            vehicle is unable to be driven on and off the transport under its own power,
            if vehicle's brakes are insufficient to stop the vehicle, or if for any 
            reason the vehicle is found to be inoperable, a minimum charge of $150
            will be added at customer's expense, no exceptions.
          </p>
          
          <p>
            6. Additional terms and conditions apply to the transporter and appear
            on the Bill of Lading/Condition Report. The customer and his/her agents 
            agree to fully inspect the vehicle at both pickup and delivery, and 
            note any and all damages on the carrier's Bill of Lading/Condition
            Report BEFORE the driver leaves. Any claims for damages not noted on 
            the Condition Report will not be honored! Please make sure you inspect
            your vehicle completely. GTA will not be responsible for any damages. 
            This means that any and all claims for damage must be made directly 
            through the carrier that transported your vehicle.
          </p>
          
          <p>
            7. The customer/shipper will also be responsible for preparing the
            vehicle for transport including: disarming any alarms, removing any 
            loose parts, accessories, hanging spoilers, etc…. The carrier/transporter
            will not be responsible for: freezing of engine, cooling system, 
            batteries, or leaking fluids, any exhaust system, mufflers, tail
            pipes or any mechanical malfunction damage to include engine, 
            transmission, rear end, wiring systems, stereo systems, air bags, 
            brakes, clutches, computerized components (anything that’s is 
            mechanical or electrical). The carrier/transporter will not be 
            responsible for any convertible tops that are loose, torn, or have 
            visible wear. This includes any canvas or material covering.
          </p>
          
          <p>
            8. Customer agrees that the vehicle is free of contents. Absolutely
            no firearms, alcohol, hazardous materials, contraband, household 
            goods, or illegal substances may be in the vehicle. Vehicles are 
            subject to inspection by the DOT and/or State Police. If in fact the
            vehicle is loaded with personal items the carrier/transporter may 
            charge additional fees for overloading and may also decline the 
            transport of your vehicle(s). If your vehicle(s) are declined for pick
            up by the carrier/transporter GTA will resubmit your information to 
            the dispatching department for rescheduling and there will be a 
            $100.00 rescheduling fee. You, the customer, may also be charged a 
            $100.00 reposting fee for the vehicle(s) not being there, if it’s 
            been moved, or unavailable. In the event the carrier attempts to 
            deliver the vehicle(s) to shipper or shipper's agent and shipper or 
            shipper's agent cannot be reached in a reasonable time frame, the 
            shipper's vehicle(s) will be dropped off at the nearest terminal, at
            the discretion of the carrier. All storage, COD, terminal fees, 
            attorney's fees, and collection fees will be due and payable to the 
            carrier in either cash, cashier's check, or United States Postal 
            Service money order before said vehicle(s) is to be released by the 
            terminal. This fee is ONLY charged if the carrier has not been given 
            proper notification in advance before the pickup or delivery of the 
            vehicle(s). The carrier/transporter can also charge a dry load fee 
            for the reasons listed above.
          </p>
          
          <p>
            9. Unless the order has been pre-paid, or other arrangements have
            been made, shipper shall pay all COD amounts upon pick up or 
            delivery, including any additional charges, in the form of cash, 
            cashiers check, or United States Postal Service money order to the 
            transport company. In the event that said forms of payments are not
            available at delivery, the shipper shall be responsible for any and
            all storage fees. In order to complete pick up/delivery, the shipper
            agrees to meet the transporter/carrier at a specified time and place
            if necessary. Shipper agrees that giving his/her shipping information
            and/or credit card number to GTA via telephone constitutes verbal
            authorization to proceed and all terms and conditions will apply.
          </p>
          
          <p>
            10. You may cancel your order at any time; cancellations must be
            made in writing via email. Once the cancellation has been received 
            it will be submitted to the Accounting department for the refund 
            process. However, if a transporter/carrier was assigned to pick up
            your vehicle before the cancellation came through, there is no refund
            due. If your cancellation request is received before 30 days from 
            the date available, nothing will be refunded. If your cancellation 
            is received after 30 days from the date available, we will refund 
            the entire deposit.  Please note: If you have selected the Economy 
            Shipping option, your entire deposit is non-refundable even after the
            30 day period. This shipping method is only for customers that are not
            in a hurry to move the vehicle and who understand that the deposit is
            completely non-refundable regardless of the amount of time needed by
            GT Auto Transport to schedule a carrier. If the Economy Shipping option
            is selected and the customer cancels the order at any time and for any
            reason, the deposit is non-refundable.
          </p>
          
          <p>
            11. GTA will match any price by a 5 star rated Company on Transport 
            Reviews website. The matched price is only valid for up to 6 days. 
            If a carrier cannot be dispatched within 6 days on the agreed upon 
            price, the price will go up to the original estimated price. If the 
            order is cancelled, a $100 cancellation fee will be applied.
          </p>
          
          <p>
            12. By accepting this document, you declare that you are the owner, 
            or an authorized agent of the owner to make arrangements for shipping 
            the owner's vehicle(s). You also warrant that you are the registered 
            legal owner of the vehicle, or that it has been authorized by the 
            legal owner to enter into this agreement with GTA.
          </p>
          
          <p>
            13. If for any reason we receive a check that has been returned there
            will be a fee of $35.00 and is due upon receipt. If we have not 
            received payment within 30 days, your account will be turned over for
            collections and all past due amounts, attorney's fees, and collection 
            fees will be the shipper's responsibility.
          </p>
          
          <p>
            14. We reserve the right to refuse service to anyone who violates any
            of the terms and conditions written above.
          </p>
        </div>
      </div>
      </div>
      <!-- /Column -->
    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
</section>
<!-- /Content Block
============================================-->

 
