/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require themify-icons
 *= require roboto/roboto
 *= require roboto-cond/roboto-cond
 *= require uikit
 *= require animate.min
 *= require hl-default
 *= require prettyPhoto
 *= require bootstrap_and_overrides
 *= require jasny-bootstrap.min
 */

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0;
    line-height: normal;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    font-weight: bold;
}
@media (max-width: 767px) {
  .hnav.nav-main .navbar-toggle {
    margin-top: 30px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 17px;
  }
}
